<html
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script>
            function CountryController($scope) {
                $scope.countries = {
                    India: ['sfsd','dfasdaf','sdfsdfsd']
					Russia :['dsfasdf','fsdfsdfa']
                };
            }
        </script>
</head>
<body>
 <div ng-app class="container">
          <div ng-controller="CountryController">
           <div>
              <label class="control-label" for="Country">Country:</label>
              <select class="form-control input-lg" id="country" ng-model="states" ng-options="country for (country, states) in countries">
                <option value=''>Select</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="States">States:</label>
              <select class="form-control input-lg" id="state" ng-disabled="!states" ng-model="cities" ng-options="state in states">
                <option value=''>Select</option>
              </select>
            </div>
                      </div>
        </div>
</body>
</html>